<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
   <bean id="address" class="com.iwsx.spring.entity.Address" scope="prototype">
       <property name="city" value="厦门"/>
       <property name="street" value="软件园"/>
   </bean>

    <bean id="person" class="com.iwsx.spring.entity.Person" lazy-init="true">
        <constructor-arg name="name" value="小吴"/>
        <constructor-arg name="age" value="12"/>
        <constructor-arg name="createdTime">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2020-01-02"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="address" ref="address"/>
    </bean>

    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg name="pattern" value="yyyy-MM-dd"/>
    </bean>

    <bean id="myDate" factory-bean="dateFormat" factory-method="parse">
        <constructor-arg value="2020-01-02"/>
    </bean>
    -->

    <!-- 静态工厂方法 -->
    <bean id="carFactory" class="com.iwsx.spring.entity.StaticCarFactory" factory-method="getCar">
        <constructor-arg value="吉利"></constructor-arg>
    </bean>

    <!-- 实例工厂方法 -->
    <bean id="carbyFactory2" factory-bean="carFactory2" factory-method="getCar">
        <constructor-arg value="宝马"/>
    </bean>
    <bean id="carFactory2" class="com.iwsx.spring.entity.CarFactory"></bean>

    <!-- 实例工厂方法 -->
    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd"/>
    </bean>

    <bean id="myDate" factory-bean="dateFormat" factory-method="parse">
        <constructor-arg value="2020-01-02"/>
    </bean>

    <context:component-scan base-package="com.iwsx.spring">
        <!-- 配置过滤器，排除@Controller注解的bean-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--属性点位，location用于指定资源位置，ignore-unresolvable忽视不能解析的内容-->
    <context:property-placeholder location="classpath:db/db.properties" ignore-unresolvable="true"></context:property-placeholder>

    <!-- 使AspjectJ 注解起作用：自动为匹配的类生成代理对象 -->
    <aop:aspectj-autoproxy/>
</beans>